PORT=3000

# MySQL connection
MYSQL_HOST=localhost
MYSQL_PORT=33060
MYSQL_DATABASE=maxhealthcare_it_opex
MYSQL_USER=root
MYSQL_PASSWORD=Max@2026
MYSQL_CONNECTION_LIMIT=10

# Optional Google Sheets sync
GOOGLE_SHEET_ID=1dsjJRybpZh7j2ZDguTLjCCus13XxDPFpsNjYZuKo810
GOOGLE_SHEET_TAB=Sheet1
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_DATABASE=it_opex
# MYSQL_USER=root
# MYSQL_PASSWORD=Max@1